@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Heebo;
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
